In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#TIP: when you copy and paste the path to your file, always make sure to correct the slashes and backslashes!

#Reading the file & for example, use only the 200 hundret first rows
file = (r"C:\Users\Rakibul\Desktop\6th semester\Data Analysis and Visualization\exercises/Rakibul_Islam_dataset.csv")
df = pd.read_csv(file, nrows=200, skiprows = 1)
df

,week,analytics,artificial intelligence,big data,data mining,data science,machine learning,python,Country,Population,Area (sq. mi.),Coastline (coast/area ratio),Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Crops (%),Other (%),Birthrate,Deathrate
0,21/12/2014,63,23,53,68,11,14,29,Afghanistan,31056997.0,647500,"0,00","163,07",700,"36,0","3,2","0,22","87,65","46,6","20,34"
1,28/12/2014,59,22,54,60,13,13,28,Albania,3581655.0,28748,"1,26","21,52",4500,"86,5","71,2","4,42","74,49","15,11","5,22"
2,04/01/2015,90,28,76,88,18,18,35,Algeria,NaN,2381740,"0,04",31,6000,"70,0","78,1","0,25","96,53","17,14","4,61"
3,11/01/2015,94,33,76,88,20,21,37,American Samoa,57794.0,199,"58,29","9,27",8000,"97,0","259,5",15,75,"22,46","3,27"
4,18/01/2015,93,33,78,91,19,19,38,Andorra,71201.0,468,"0,00","4,05",19000,"100,0","497,2",0,"97,78","8,71","6,25"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,16/09/2018,65,77,91,69,71,84,82,Sweden,9016596.0,449964,"0,72","2,77",26800,"99,0","715,0","0,01","93,45","10,27","10,31"
196,23/09/2018,63,75,89,72,68,84,83,Switzerland,7523934.0,41290,"0,00","4,39",32700,"99,0","680,9","0,61","88,97","9,71","8,49"
197,30/09/2018,64,72,92,67,72,84,79,Syria,18881361.0,185180,"0,10","29,53",3300,"76,9","153,8","4,43","70,35","27,76","4,81"
198,07/10/2018,63,76,91,72,71,87,84,Taiwan,23036087.0,35980,"4,35","6,4",23400,"96,1","591,0",1,75,"12,56","6,48"
199,14/10/2018,63,72,87,64,68,85,85,Tajikistan,7320815.0,143100,"0,00","110,76",1000,"99,4","33,5","0,92","92,47","32,65","8,25"

In [2]:
df.mean()

analytics                  7.654000e+01
artificial intelligence    4.971500e+01
big data                   8.211500e+01
data mining                7.591500e+01
data science               3.856000e+01
machine learning           4.759500e+01
python                     5.704000e+01
Population                 2.849722e+07
Area (sq. mi.)             5.911076e+05
GDP ($ per capita)         9.966000e+03
dtype: float64

In [3]:
#Mean

bigdata_mean = df["big data"].mean()
print(bigdata_mean)

82.115

In [4]:
# Median

bigdata_median = df["big data"].median()
print(bigdata_median)

83.0

In [5]:
#Mode

bigdata_mode = df["big data"].mode()
print(bigdata_mode)

0    91
dtype: int64

In [6]:
# Rolling mean
print(df['big data'])

0      53
1      54
2      76
3      76
4      78
       ..
195    91
196    89
197    92
198    91
199    87
Name: big data, Length: 200, dtype: int64

In [7]:
# Applying the rolling mean using 2 data point as calculation window
bigdata_rmean = df['big data'].rolling(window=2).mean()
print(bigdata_rmean)

0       NaN
1      53.5
2      65.0
3      76.0
4      77.0
       ...
195    89.5
196    90.0
197    90.5
198    91.5
199    89.0
Name: big data, Length: 200, dtype: float64

In [8]:
bigdata_rmean = df['big data'].rolling(window=2, min_periods = 1).mean()
print(bigdata_rmean)

0      53.0
1      53.5
2      65.0
3      76.0
4      77.0
       ...
195    89.5
196    90.0
197    90.5
198    91.5
199    89.0
Name: big data, Length: 200, dtype: float64

In [9]:
#As usual you can calculate the standart deviation for either the whole data set or for individial columns
#STD

std_ds = np.std(df)
#print(std_ds) #STD for whole data set

bigdata_std = np.std(df["big data"])
print(bigdata_std)

8.01322500620069

In [10]:
#Min
print( 'The min is : ', min (df['big data']))

The min is :  53

In [11]:
#Max
print('The max is : ', max(df['big data']))

The max is :  98

In [12]:
#It gives a summary that provides information about both, the center and the spread of the data
df. describe()

,analytics,artificial intelligence,big data,data mining,data science,machine learning,python,Population,Area (sq. mi.),GDP ($ per capita)
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1.990000e+02,2.000000e+02,200.000000
mean,76.540000,49.715000,82.115000,75.915000,38.560000,47.595000,57.040000,2.849722e+07,5.911076e+05,9966.000000
std,10.407207,17.301168,8.033334,11.118267,15.776912,22.319088,13.983062,1.241156e+08,1.790798e+06,10129.867476
min,43.000000,22.000000,53.000000,52.000000,11.000000,13.000000,28.000000,7.026000e+03,2.000000e+00,500.000000
25%,70.000000,34.750000,77.000000,67.000000,26.000000,27.000000,44.000000,4.376240e+05,3.760750e+03,1900.000000
50%,75.000000,45.500000,83.000000,77.000000,35.500000,43.500000,56.000000,4.498976e+06,7.497000e+04,5800.000000
75%,83.250000,64.000000,88.000000,84.000000,53.000000,70.250000,70.250000,1.389220e+07,3.622245e+05,16725.000000
max,100.000000,100.000000,98.000000,100.000000,73.000000,87.000000,85.000000,1.313974e+09,1.707520e+07,55100.000000

In [13]:
#Sum

#print('The sum is : ',ig dataunction only) returns an output, if exclusivly iterables are present
print('The sum is : ',sum(df["big data"]))
#print('The sum is : ',np.nansum(df["big data"]))

The sum is :  16423

In [14]:
np.nansum(df["big data"])

16423

In [15]:
# Cumulative sum

bigdata_datamining_datascience_cumsum = df[['big data', 'data mining', 'data science']]
cumsum_all = np.cumsum(bigdata_bigdata_datamining_datascience_cumsum, axis = 1)
print(cumsum_all)

NameError: name 'bigdata_bigdata_datamining_datascience_cumsum' is not defined

In [ ]:
#Thereshold

#EXAMPLE: Let's assume accumulation above an certain value, let's say '90' is exceptional. 
# We want to know how many times such a value occurs we can use the len() function:

bigdata_150 = df["big data"]
threshold = bigdata_150 > 90

len(bigdata_150[threshold])

In [ ]:
#Variance

#The function var() automatically calculates the mean of the variable
bigdata_variance = np.var(df["big data"])

In [ ]:
# with NaN
np.nanvar(df[["big data"]])

In [ ]:
print(bigdata_variance)

In [ ]:
#Covariance

# To test the diffrences of covariance and get a better understanding of the output value, simply run the examples
cov1 = [1,2,3,4,5,6,7,8,9,10] #for x axis
cov2 = [10,9,8,7,6,5,4,3,2,1] # for y axis
cov3 = [6,3,2,6,7,4,7,9,3,2,] # for y axix

#Negative correlation
covariance1 = np.ma.cov(cov1, cov3)[0, 1]
print(covariance1)
plt.plot(cov1, cov3)
plt.show()

In [ ]:
#Positive correlation
covariance2 = np.ma.cov(cov1, cov1)[0,1]
print(covariance2)
plt.plot(cov1, cov1)
plt.show()

In [ ]:
#No detectable correlation
covariance3 = np.ma.cov(cov2, cov3)[0,1]
print(covariance3)
plt.plot(cov2, cov3)
plt.show()

In [ ]:
# Group by to pivot table,e.g. to get information on 'big data' along the country
pivot1 = df.pivot_table(values = "big data", index= "machine learning")
print(pivot1)

In [ ]:
# Pivot on two variables, to get information on the relationship of python and Country along the Country
pivot2 =df.pivot_table(values= 'python', index='machine learning', columns='big data')
print(pivot2)

In [ ]:
# Check unique values

df['big data'].unique()

In [ ]:
### 3. Visualizing your data  ###############
# Histogram

In [ ]:
#Plot the frequency of density values, by dividing the data set into bins. 
#Check different numbers of bins and see how the histogramm changes.

frequency = df["data science"]
num_bins = 100

plt.hist(frequency, num_bins)

plt.show()

In [ ]:
# Bar Chart
BigData = df["big data"]  
DataScience = df["data science"]  

plt.bar(BigData, DataScience)

# Easily change the labels
plt.xlabel('Big Data')  
plt.ylabel('Data Science')

plt.show()

In [ ]:
#Box Plots

#To avoid problems with 'NaN's we filter our data for missing values
value1=df["big data"]  
bigdata = value1[~np.isnan(value1)]

value2 = df["python"]
python = value2[~np.isnan(value2)]

value3=df["machine learning"]  
machinelearning = value3[~np.isnan(value3)]

value4=df["data mining"]  
datamining = value4[~np.isnan(value4)]

 
box_plot_data=[bigdata,python,machinelearning,datamining]
plt.boxplot(box_plot_data)

plt.show()

In [ ]:
#Displaying similar values or different values to understand their relations.

''' Here I want to display two variables (python and data science)
and to understand their similarity values. 
'''

weeks = df["week"]   
python = df["python"] 
dataScience = df["data science"]
bigData = df['big data']

plt.plot(weeks, python, color= "green", linewidth=4, alpha = 0.7, label='Python')
plt.plot(weeks, dataScience, color= "blue", linewidth=1, label='Data Science')
plt.plot(weeks, bigData, color= "red", linewidth=1, label='Big Data')


plt.title('Search Growth for Data Science Term')
plt.xlabel('weeks')  
plt.ylabel('Search grotwh for data science term')

#To display the legend we defined the labels for, we simply add `plt.legend()`
plt.legend()

plt.savefig(r'C:\Users\Rakibul\Desktop\6th semester\Data Analysis and Visualization\exercises/Search .png',  dpi=300, bbox_inches='tight')

plt.show()

In [ ]:
# Scatter plots

analytics = df["analytics"]  
machineLearning = df["machine learning"]  

fig1 = plt.scatter(analytics,machineLearning)

plt.title('Relationship  Analytics/ Machine Learning')
plt.xlabel('Analytics')
plt.ylabel('Machine Learning')

#To save a figure, simply use the function `plt.savefig()` and insert the path and file name you want to save it
plt.savefig(r'C:\Users\Rakibul\Desktop\6th semester\Data Analysis and Visualization\exercises/test.png', dpi=300, bbox_inches='tight')
plt.show()